


.button {
    font-size: 25px;
    font-family: sans-serif;
    color: whitesmoke;
    background: brown;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 55px 16px rgba(0,0,0,0.22);
    transform: translateX(270%)
}



.postText {
    grid-area: 'post-body';
    color: yellow;
}

.userId {
    color: brown;
}

.id {
color: black;
}